registry=https://pkgs.dev.azure.com/issammhera/Podium/_packaging/podyam/npm/registry/ 
                        
always-auth=true

; begin auth token

//pkgs.dev.azure.com/issammhera/Podium/_packaging/podyam/npm/registry/:username=VssSessionToken

//pkgs.dev.azure.com/issammhera/Podium/_packaging/podyam/npm/registry/:_password=MnZ2dzJxNGtnN3o2bzNzc3d0bmoyNXpuNG81bGp0bGZxdGd4dGo0amV0d3NpbnI3YW4yYQ==

//pkgs.dev.azure.com/issammhera/Podium/_packaging/podyam/npm/registry/:email=not-used@example.com

//pkgs.dev.azure.com/issammhera/Podium/_packaging/podyam/npm/:username=VssSessionToken

//pkgs.dev.azure.com/issammhera/Podium/_packaging/podyam/npm/:_password=MnZ2dzJxNGtnN3o2bzNzc3d0bmoyNXpuNG81bGp0bGZxdGd4dGo0amV0d3NpbnI3YW4yYQ==

//pkgs.dev.azure.com/issammhera/Podium/_packaging/podyam/npm/:email=contact@podyam.com

; end auth token